<div class="clients row">
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-1.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-2.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-3.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-4.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-5.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-6.jpg">
  </div>
</div>
<div class="clients row">
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-7.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-8.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-9.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-10.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-11.jpg">
  </div>
  <div class="clients-item col-1-6 t-col-1-4 m-col-1-3">
    <img src="http://localhost:4000/images/client-12.jpg">
</div>
