<footer role="contentinfo" id="site-footer" class="footer-container">
	<ul class="footer-top">
		<li><h4>Molly Pierce</h4>
			<h6>Inquiries:</h6>
			<a href="tel:3612488625">(361) 946-2240</a><br />
			<a href="mollympierce@gmail.com">mollympierce@gmail.com</a><br />
			<a href="https://www.facebook.com/molly.pierce.31?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/mollympierce/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.behance.net/mollypiercedesign"><i class="fa fa-behance" aria-hidden="true"></i></a>
			<a href="https://twitter.com/mollympierce"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</li>
	</ul>
	<ul class="centered top-block back-to-top">
		<a href="#" ititle="Back to top" style="font-size: 11px;">BACK TO TOP</a>
	</ul>
