<footer role="contentinfo" id="site-footer" class="footer-container">
	<ul class="footer-top">
		<li><h4>Contact Me</h5>
			<p>Have a project you'd like to work with me on? Here's a good place to start: <a href="{{ site.url }}/project-planner">Project Planner.</a></p>
			<a href="tel:3612488625">(361) 946-2240</a><br />
			<a href="mpierce@hirescreative.com">mpierce@hirescreative.com</a><br />
			<a href="https://www.facebook.com/molly.pierce.31?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/mollympierce/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</li>
		<li class="right">
			<p id="hrmg">I am a member of collaborative marketing cooporative, <a href="http://hrmg.agency">Hi Res Media Group.</a></p>
		</li>
	</ul>
	<ul class="centered top-block back-to-top">
		<a href="#" ititle="Back to top" style="font-size: 11px;">BACK TO TOP</a>
	</ul>
