<footer role="contentinfo" id="site-footer" class="footer-container">
	<ul class="footer-top">
		<li><h4>Contact Us</h5>
			<p>We'd love to discuss how strategic digital marketing	and superior design can boost your business' growth.</p>
			<a href="tel:3612488625">(361) 248-8625</a><br />
			<a href="connect@hrmg.agency">connect@hrmg.agency</a>
		</li>
		<li class="right">
			<a class="button animsition-link" href="{{ site.url }}/contact">Contact Us</a>
		</li>
	</ul>
	<ul class="footer-bottom">
		<li>
			<h1><a href="{{ site.url }}">Hi-Res Media Group</a></h1>
		</li>
		<li class="right">
			<a href="https://www.facebook.com/HiResMediaGroup/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://www.instagram.com/hiresmediagroup/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/hires-creative"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="https://twitter.com/hiresmediagroup"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	</ul>
	<ul class="footer-bottom">
		<li>
			<p>606 N. Carancahua, Suite #1400 - Corpus Christi, TX 78404</p>
		</li>
		<li class="right">
			<span><a href="{{ site.url }}/career-opportunities">Careers</a> <a href="{{ site.url }}/terms" target="popup" onclick="window.open('../terms','name','width=800,height=600')">Privacy Policy</a> <a href="{{ site.url }}/terms" target="popup" onclick="window.open('../terms','name','width=800,height=600')">Terms</a> <a href="#">FAQ</a></span>
		</li>
	</ul>
	<ul class="block centered">
		<a href="#" id="back-to-top" title="Back to top">BACK TO TOP</a>
	</ul>
