<header id="masthead">
  <nav role="navigation"  class="topnav">
    <div class="logo"><a class="brand name" role="heading" href="{{ site.url }}/">Molly Pierce</a></div>
    <div><h4 class="hide">Navigation</h4>
      <ul>
        <li><a href="#">All Work</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Visual Feed</a></li>
      </ul>
    </div>
    <div class="hide"><h4>Contact</h4>
      <ul>
        <li><a href="mailto:mollympierce@gmail.com">mollympierce@gmail.com</a></li>
        <li><a href="#">361 946 2240</a></li>
        <li><a href="#">Corpus Christi, TX</a></li>
      </ul>
    </div>
    <div class="hide"><h4>Follow</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Behance</a></li>
        <li><a href="#">Tumblr</a></li>
      </ul>
    </div>
  </nav>
</header><!-- /.masthead -->
