<nav role="navigation"  class="off-canvas">
  <div class="logo"><a class="brand name" role="heading" href="{{ site.url }}/">Molly Pierce</a></div>
  <div><h4 class="hide">Navigation</h4>
    <ul>
      <li><a href="{{ site.url }}/work">All Work</a></li>
      <li><a href="{{ site.url }}/profile">Profile</a></li>
      <li><a href="{{ site.url }}/contact">Contact</a></li>
      <li><a href="https://savee.it/mollympierce/collections/">Visual Feed</a></li>
    </ul>
  </div>
  <div class="hide"><h4>Contact</h4>
    <ul>
      <li><a href="mailto:mollympierce@gmail.com">mollympierce@gmail.com</a></li>
      <li><a href="#">361 946 2240</a></li>
      <li><a href="#">Corpus Christi, TX</a></li>
    </ul>
  </div>
  <div class="hide"><h4>Follow</h4>
    <ul>
      <li><a href="https://www.facebook.com/molly.pierce.31?ref=bookmarks">Facebook</a></li>
      <li><a href="https://www.instagram.com/mollypierce.design/">Instagram</a></li>
      <li><a href="https://www.pinterest.com/mollympierce">Pinterest</a></li>
      <li><a href="https://www.behance.net/mollypiercedesign">Behance</a></li>
    </ul>
  </div>
</nav>
