<article itemscope itemtype="http://schema.org/Article" data-aos="fade-up">
			<div class="portfolio-content">
				<p class="portfolio-title"><a href="{{ site.url }}{{ work.url }}" title="{{ work.title }}" class="work-teaser">{{ work.title }}</a></p>
				<p class="work-excerpt" itemprop="description">{{ work.excerpt | strip_html | truncate: 160 }}</p>
			</div>
			<a href="{{ site.url }}{{ work.url }}" title="{{ work.title }}"><img src="{{ site.url }}{{ work.featured-image }}" /></a>
</article>
