/* ==========================================================================
STRUCTURE
========================================================================== */

/*
========================================================================== */

body {
  background: #fff;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

p {
  -webkit-font-smoothing: antialiased;
}

#page {
  width:100%;
  min-width:20em;
  margin:0px auto;
  padding-bottom: 40px;
  overflow:hidden;
  min-height: 50vh;
}


@media only screen and (min-width:960px) {
  #page, .page-white, #site-footer {
    padding:0 3.4375rem
  }
}

@media only screen and (max-width:640px)  {
#page {
    padding: 0px 20px;
}
}


.container {
  width: 100%;
  z-index: 100;
  position: relative;
  height: 100%;
}





.full-width {
  width: 100%;
  z-index: 101;
  position: relative;
}

.inner {
  width: 90%;
  margin: 0px auto;
}

.block {
  padding: 3em 0px;
  clear: both;
}

.top-block {
  padding: 2em 0px 0px;
  clear: both;
}

.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.one-third, .two-thirds, .one-half {
  padding: 1em 0px;
}

.one-third, .two-thirds, .one-half {
  width: 100%;
  padding: 1em 0px;
}

@media only screen and (min-width:640px) {
  .one-third {
    width: 30%;
  }

  .two-thirds {
    width: 65%;
  }

  .one-half {
    width: 49%;
  }
}


.light {
  background: #fff;
  color: $gray-md;

  p {
    color: $gray-md;
  }
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.border {
  border-top: 1px solid $gray-md;
  border-bottom: 1px solid $gray-md;
}

.grid-bg {
    background-image: url(http://mollypiercedesign.com/images/subtle_dots_@2X.png);
    background-color: #fff;
    background-blend-mode: multiply;
    padding: 2em;
    margin-bottom: 6rem;
}

@media screen and (max-width: 640px) {
.grid-bg {
      padding: 1em 0px;
}
}

#grid-bg-title {
    padding-bottom: 0.15em;
    border-bottom: 1px solid #fff;
    margin-bottom: 1.25em;
    color: #000;
    font-family: 'mauritius';
    font-size: 28px;
}






/* ==========================================================================
HEADER
========================================================================== */
/*
========================================================================== */


.brand {
min-width: 40%;
}

#masthead {
display: flex;
flex-wrap: wrap;
z-index: 200;

a {
text-decoration: none;
}
}

a.brand.name {
    padding-left: 0px;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;

    div {
      width: auto;
      min-width: 18%;
    }

 h4 {
    margin-top: 11px;
    margin-bottom: 8px;
}

 li {
    font-size: 1em;
    margin: 0px 0px 2px 0px;
}
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #6410E8;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 700px) {
  .topnav .logo {
    width: 100%;
    display: block;
    min-width: 100%;
    margin-bottom: 20px;
}
}

@media screen and (max-width: 500px) {
.topnav .hide {
  display: none;
}
}


nav li a {
color: #000;
font-family: 'work sans', sans-serif;
font-size: 1em;
letter-spacing: 0.25px;
}



a.name {
font-family: 'mauritius';
    font-size: 1.95em;
    font-weight: 400;
}





/* ==========================================================================
COMPONENTS
========================================================================== */
/*
========================================================================== */





.tagline {
  max-width: 900px;
  margin-bottom: 60px;
}

.gradient-fill {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  mix-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-image {
  background-size: cover;
  position: relative;
  min-height: 600px;
  margin-left: 20px;
}

.top-image-credit p {
font-family: 'mauritius', serif;  position: relative;
  margin-top: 0px;
  color: $gray-md;
  text-shadow: none;
  margin-left: 5px;
}

.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.75rem;
  margin-top: 30px;
  position: relative;
}

.staff-item {
  width: 100%;
  font-size: 1.5rem;
}

@media only screen and (min-width:640px) {
  .staff-item {
    width: 49%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width:960px) {
  .staff-item {
    width: 19%;
    font-size: 1rem;
  }
}

.staff-intro h2 {
  margin-top: 80px;
  text-align: left;
}


.staff-item p {
  margin-top: 0px;
font-family: 'mauritius', serif;  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 5px;
  letter-spacing: 0px;
}

.staff-item h6 {
  margin-top: 10px;
  line-height: 1.1em;
  margin-bottom: 0px;
font-family: 'mauritius', serif;  font-size: 1.2em;
  font-weight: 400;
}

.staff h5 {
  font-size: 1.25em;
  margin-top: 1.5em;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.staff-details {
  max-width: 100%;
  padding-right: 10px;
}

.staff img {
  width: 100%;
  /*box-shadow: 0px 0px 40px rgba(0,0,0,0.6);*/
}



.hs-responsive-embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  padding-top: 0px;

    iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
  }
}


.clients {

  p {
    max-width: 900px;
    float: none;
    margin: 0px auto;
  }

  ul {
    font-size: .8em;
  }

}


@media screen and (max-width: 640px) {
  .clients li {
    width: 100%;
  }
}


.hero {
  position: relative;
  z-index: 100;
}

.block-header {
font-family: 'mauritius', serif;  text-transform: uppercase;
  padding-top: 3em;
  text-align: center;
}


.mid {
  text-align: center;
  margin-top: -3em;
}

@media only screen and (max-width:640px) {
.mid {
  margin-top: -3em;
}
}


.testimonial {
  text-align: center;
  padding: 3em;

  p {
    font-style: italic;
    letter-spacing: 1px;
  }

  h6 {
    margin: 40px 0px 0px;
    font-size: 0.7em;
  }
}



.white {
  color: white;
}

.light-gray {
  background: $gray-lt;
}

#capabilities ul {
  color: black;
  margin-right: 0px;
  text-transform: uppercase;
  font-size: 0.8em;

  li {
font-family: 'mauritius', serif;    letter-spacing: 0px;
  }
}

.services {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  width: 22%;
}


@media only screen and (max-width:640px) {
  .services-item {
    width: 100%;
    margin: 2em auto;
  }

  .services {
    font-size: 1.2rem;
    padding: 2em 0px;
  }
}


.services h4 {
font-family: 'mauritius', serif;  text-transform: uppercase;
  font-size: 1.25em;
}

.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

  iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.th-grid {
      display: flex;
      margin-right: 0px;
      justify-content: space-between;


  li {
    width: 32%;
    background-color: coral;
  }

  h5 {
    margin-top: 0.75em;
    font-size: 1em;
    letter-spacing: 1px;
  }

}

.th-grid li img:hover {
    mix-blend-mode: screen;
}


@media only screen and (max-width:640px)  {
.th-grid li {
    width: 100%;
    margin-bottom: 2em;
}

.th-grid {
    flex-wrap: wrap;
}
}



#home-capabilities {
font-size: 0.75rem;

h5 {
font-family: 'mauritius', serif;
text-transform: uppercase;
letter-spacing: 3px;
}
}


.feature-box {
    padding: 3em;
    text-align: center;
    color: white;

    h4 {
    color: white;
    margin-bottom: 10px;
  }
  a.button.white {
    color: white;
}

p {
  color: white;
}
}



#instafeed a {
    width: 19.5%;
}

#instafeed {
    display: flex;
    justify-content: space-between;
}


.contact {

  .inner {
    max-width: 800px;
    float: none;
    margin: 0px auto;
  }

    h1 {
font-family: 'mauritius', serif;        font-weight: 400;
        font-size: 3em;
    }

    h3 {
font-family: 'mauritius', serif;        margin-top: 20px;
    }

    h5 {font-family: 'mauritius', serif;letter-spacing: 0px;text-transform: uppercase;}

    p { margin-top: 30px; font-size: 0.9em;font-family: 'mauritius', serif;letter-spacing: 0px;text-transform: uppercase;}


    a {
        color: $gray-lt;
    }

    a:hover {
        color: gray;
        text-decoration: underline;
    }
}


.planner a {
  text-decoration: underline;
}

.bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: right;
    padding: 12px 1%;
    font-family: 'mauritius', serif;    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.8em;
    z-index: 300;

    a {
      color: #fff;
    }
}


.blink_me {pointer-events:none;-webkit-animation:blinker 3s linear infinite;animation:blinker 3s linear infinite}
.header .available .blink_me a{color:#444}@-webkit-keyframes blinker{50%{opacity:0.0}}@keyframes blinker{50%{opacity:0.0}}
.available a {
    color: #fff;
}

.image-credit {
    bottom: 5%;
    position: absolute;
    right: 8%;
    z-index: 100;
    background: white;
    padding: 15px 25px;
font-family: 'mauritius', serif;    color: #000;
    font-size: 0.65em;
}

.mid {
    position: relative;
}


#backToTop a {
  font-size: 0.75em;
  margin-top: 2em;
}

#right-button {
    text-align: right;
    padding: 1em 0px 0px;
    line-height: 7rem;
}

@media only screen and (max-width:640px)  {
#right-button {
    text-align: center;
}
}

/* ==========================================================================
TEXT
========================================================================== */
/*
========================================================================== */



html {
font-size: 16px;
}


ul {
margin: 0px 10px 0px 0px;
}

ul, li {
list-style: none;
}


li {
margin: 0px 0px 8px 0px;
font-size: 0.9em;
}

p, body {
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 300;
font-size: ms(1);
letter-spacing: 0px;
color: #000;
line-height: 1.45;
}

h1, h2, h3, h4, h5 {
font-weight: 400;
margin: 0px;
}

h1 {
font-family: 'mauritius', serif;
font-size: 2em;
}

h2 {
font-size: 1.75em;
font-family: 'mauritius', serif;
}

h3 {
font-size: 1.5em;
}

h4 {
font-size: 1.35em;
font-family: 'mauritius', serif;
}

h5 {
font-size: 1.25em;
}

h6 {
    font-size: 1.125em;
    font-family: 'work sans', sans-serif;
    color: #3a3a38;
    margin: 0.75em 0px 0.5em;
    font-weight: 500;
    text-transform: uppercase;
}

a {
color: #AFAFAF;
text-decoration: none;
cursor: pointer;
-webkit-transition: color .3s;
transition: color .3s;
font-weight: 400;
letter-spacing: 0px;
}



ul {
padding-left: 0px;
}










/* ==========================================================================
FOOTER
========================================================================== */
/*
========================================================================== */


#site-footer {
width: 100%;
margin-left: auto;
margin-right: auto;
padding-bottom: 60px;
padding-top: 60px;
font-family: 'mauritius', serif;
background: #000;

 p {
   color: #CECECE;
 }

 h2, h4, h6 {
   color: #fff;
 }

 a {
   text-decoration: none;
   border-bottom: 0px;
   color: #fff;
 }

h6 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
}

#site-footer .back-to-top a {
  font-family: 'work sans';
}

.footer-container {
padding: 0px;
background: transparent;
}


.footer-top {
display: flex;
flex-wrap: wrap;
padding-bottom: 40px;
justify-content: space-between;

h4 {
font-family: 'mauritius', serif;font-size: 1.75em;
}

ul {
padding-right: 0px;
}

a {
font-family: 'mauritius', serif;
border-bottom: 1px dashed;
margin-bottom: 5px;
line-height: 1.75;
}

li {
width: 49%;
}

.right {
text-align: right;
line-height: 5;
}
}



.footer-bottom {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
color: $gray-dk;

h1 {
font-size: 1.25em;
text-transform: uppercase;
letter-spacing: 6px;
}

p {
font-size: 0.9em;
margin: 0px;
}

ul {
padding-right: 0px;
}

li {
width: 50%;
}

a {
text-transform: uppercase;
font-size: 0.75em;
}

.right {
text-align: right;

span {
font-family: 'orator-std';
}
}
}



@media screen and (max-width: 960px) {
#page {
padding: 1em;
}

.footer-top {
display: block;
padding: 0px 20px;
}

.footer-bottom {
display: block;
}

.footer-top li, .footer-top .right {
width: 100%;
text-align: center;
}

.footer-bottom li, .footer-bottom .right {
width: 100%;
text-align: center;
}

.right {
margin: 30px auto;
}

#site-footer {
text-align: center;
}
}

#hrmg {
  max-width: 300px;
  text-align: left;
  float: right;
}

@media only screen and (max-width:640px)  {
#hrmg {
    text-align: center;
    float: none;
    margin: 0px auto;
}
}

/* ==========================================================================
PORTFOLIO
========================================================================== */
/*
========================================================================== */


.portfolio-item {
width: 100%;

img {
width: 100%;
}
}

.portfolio-grid {
display: grid;
grid-template-columns: 1fr 1fr;

img {
width: 100%;
}

img:hover {
mix-blend-mode: screen;
}
}


.portfolio-grid {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.portfolio-img {
    background: #6C7EFF;
}

.portfolio-grid article {
position: relative;
width: 32%;
background-size: cover;
background-position: center;
}

@media only screen and (max-width:640px) {
.portfolio-grid article {
width: 100%;
}
}

.portfolio-content {
-webkit-transition: opacity 2s;
transition: opacity 2s;
-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

a.work-teaser {
color: $gray-md;
}


.portfolio {
width: 100%;
display: flex;
justify-content: space-between;
}

h5.portfolio-title {
margin-top: 0px;
}


p.portfolio-title {
font-weight: 400;
margin: 8px 0px 0px;
font-family: "mauritius";

}

p.work-excerpt {
font-weight: 300;
margin: 8px 0px 0px;
}


.portfolio-image-half {
min-width: 49.5%;
display: inline-block;
margin: 70px auto;
}

a.work-teaser {
color: black;
}

.portfolio-intro {
    padding: 3em 3em 0.25em 3em;
color: $gray-md;
text-align: center;
}

h6.client {
margin: 1em;
color: black;
font-size: 1em;
}

h4.portfolio-title {
color: black;
}

.page-excerpt {
letter-spacing: 1.5px;
}

.portfolio-image-full {
margin: 0px auto 70px;
}

.portfolio-left {
max-width: 900px;
margin: 0px auto 70px;
float: left;
}

.portfolio-right {
max-width: 900px;
float: right;
margin: 0px auto 70px;
}

.portfolio-center {
max-width: 900px;
float: none;
margin: 70px auto;
}

.PageNavigation {
font-size: 14px;
display: flex;
width: auto;
overflow: hidden;
text-align: center;
    padding: 6px 20px;
}

.PageNavigation a {
display: block;
width: 50%;
float: left;
margin: 1em 0;
color: #000;
}

div#content {
text-align: center;
font-size: 0.75em;
}

a.prev {
border: 1px solid #000;
padding: 3em;
color: black;
font-family: 'mauritius', serif;
}

a.next {
border: 1px solid #000;
padding: 3em;
margin-left: -1px;
color: black;
font-family: 'mauritius', serif;
}


.page-white img {
box-shadow: 15px 15px 30px rgba(0,0,0,0.4);
width: 100%;
}

.no-shadow img {
  box-shadow: 0px 0px 0px;
}

p.work-excerpt {
    margin: 5px 0px 10px;
}

.portfolio-grid article {
    margin: 0px 0px 3em 0px;
    font-size: 0.9rem;
}

p.portfolio-title {
  padding-top: 10px;
    padding-bottom: 3px;
}

.page-image img {
    width: 100%;
}


/* ==========================================================================
LINKS
========================================================================== */
/*
========================================================================== */

a.button {
    color: #fff;
    background: #000;
    padding: 30px;
    margin: 30px 0px;
    font-size: 1rem;
    text-transform: uppercase;
}




/* ==========================================================================
BLOG
========================================================================== */
/*
========================================================================== */

.blog {
display: flex;
flex-wrap: wrap;
}

.content {
width: 75%;
}

.sidebar {
width: 25%;
padding: 1em;
border-left: 1px solid $gray-md;
}

@media only screen and (max-width:960px) {
.content {
width: 100%;
}
.sidebar {
width: 100%;
border-top: 1px solid $gray-md;
border-left: 0px;
}
}

img.featured-image.no-shadow {
margin-bottom: 2em;
box-shadow: none;
}

.content-inner {
padding: 1em 1em 1em 0px;
}

@media only screen and (max-width:960px) {
.content-inner {
padding: 1em;
}
}



article.blog--list {
    display: flex;
    padding: 2em 0px;
}

.blog--meta {
    border-top: 1px solid #000;
    padding: 10px 15px;
}

.category {
font-family: 'mauritius', serif;
    font-size: 0.8em;
}

a.date {

font-family: 'mauritius', serif;
    font-size: 0.6em;
    letter-spacing: 0px;
    color: gray;
}

.blog--main {
    padding: 0px 2em 3em;
}

.blog--inner {
    display: flex;
}

h2.post-title {
    line-height: 1.45;
    font-size: 1.5em;
font-family: 'mauritius', serif;
    font-weight: 400;
}

p.post-excerpt {
    font-size: 1em;
}

a.post-more {
font-family: 'mauritius', serif;  font-size: 0.75em;
  text-transform: uppercase;
  color: #000;
  float: right;
}

a.post-more:hover {
  color: #000;
}


@media screen and (max-width: 480px) {
  .blog--main {
    width: 100%;
    margin-top: 2em;
    padding: 0px 1em 2em;
}

.blog--inner {
    flex-wrap: wrap;
}
}











/* HOME */


.home body {
    background: #AD0028;
}

.home a, .home p, .home body, .home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  color: #D8033A;
}

.home a {
  color: #F7064B;
}

.home a.name {
  color: #000;
}

@media only screen and (max-width:640px)  {
a.name-mobile {font-family: 'work sans';font-size: 1.25rem;color: #fff;}
}

.home a.button {
    color: #fff;
    background: #F7064B;
    padding: 30px;
    font-size: 1rem;
    text-transform: uppercase;
}



.title h1 {
    font-size: 2em;
    font-family: 'work sans';
    line-height: 7em;
    margin-top: 0em;
}

@media only screen and (max-width:640px)  {
.title h1 {
    font-size: 3em;
    line-height: 1.4;
    margin-top: 1em;
}
}










.about body, .about p {
  color: #000;
}

.about a, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, {
color: #0DBC71
}

.about a.name {
  color: #000;
}

.about a.button {
  background-color: #0B7F50;
  color: #fff;
}

.about a.button:hover {
  background-color: #000;
  color: #fff;
}

#headshot {
  background-color: #0B7F50;
   -webkit-transition: mix-blend-mode 0.2s ease-out;
   transition: mix-blend-mode 0.2s ease-out;


  a img {
   -webkit-transition: mix-blend-mode 0.2s ease-out;
   transition: mix-blend-mode 0.2s ease-out;
  }


  a img:hover {
  mix-blend-mode: screen;
}
}

#headshot-details {
    font-size: 75%;
    padding: 1em 0px;
}

#headshot-details h6 {
    margin: 0px;
    font-size: 1.2em;
}

#headshot-details p {
    margin: 10px 0px;
    color: #fff;
    font-size: 1em;
}

#headshot p {
    margin-bottom: 0px;
}


svg {
  display: block;
  width: 100%;
}


svg {
    z-index: 2;
    position: relative;
}




p.work-title {
    margin-top: 10px;
    margin-bottom: 0px;
}


.work-title {
    position: absolute;
    z-index: 10;
    left: 20px;
    top: 5px;
    margin-right: 40px;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.work-title a {
  color: #000;
}

.th-grid li:hover .work-title {
    opacity: 1;
}



.th-grid img {
    position: relative;
    z-index: 1;
}

li {
    position: relative;
}




.work p, .work body {
    color: #000;
}

.work a, .work h1, .work h2, .work h3, .work h4, .work h5, .work h6, {
color: #6C7EFF;
}

.work a.name {
  color: #000;
}


.default a.name {
  color: #000;
}



.planner a, .planner h1, .planner h2, .planner h3, .planner h4, .planner h5, .planner h6, {
color: #773DE8;
}

.planner a.name {
  color: #000;
}

.default {
  background: #fff;
  color: #000;
}








p {
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 1.35;
}

li {
    font-size: 1.05em;
    letter-spacing: 0px;
    margin: 0px 0px 4px 0px;
}

p.work-title {
    font-weight: 400;
    letter-spacing: -0.5px;
}

a.button {
    font-weight: 500;
}

#site-footer a {
    font-family: "work sans";
    font-weight: 400;
    line-height: 1.5px;
}

i.fa {
    margin: 10px 5px 10px 0px;
}
