
$orange: hsla(31%, 100%, 50%, 1);
$orange-lt: hsla(37%, 100%, 64%, 1);
$gray-lt: hsla(47%, 13%, 86%, 1);
$gray-md: hsla(51%, 4%, 67%, 1);
$gray-dk: hsla(60%, 2%, 22%, 1);

/* RGB */
$orange: rgba(255, 133, 0, 1);
$orange-lt: rgba(255, 186, 73, 1);
$gray-lt: rgba(224, 222, 215, 1);
$gray-md: rgba(175, 174, 168, 1);
$gray-dk: rgba(58, 58, 56, 1);
