
$green-dk: #278F44;
$green-lt: #4BA663;
$wine-dk: #762C30;
$wine-lt: #A54E25;
$blue-lt: #0357C2;
$blue-dk: #083B8B;
$blue-black: #1C294B;
$yellow: #FFFF00;
$red: #EE2E24;
$purple-dk: #3E2150;
$neutral-1: #CF9769;
$neutral-2: #DDC2BD;
$neutral-3: #D6B480;
