---
layout: default
---

  <div class="intro">
    <div class="inner centered">
      <h2>Delivering Real Online Marketing Results</h1>
      <p>The old adage “build it and they will come” no longer works. In today’s digital era, a website is incomplete without a marketing plan to attract visitors. A cleverly crafted digital marketing strategy can lead to big changes in your business. Access a new market, streamline operations, eliminate waste, or collect customer insights – whatever your goal, your online presence can help achieve it. We partner with businesses to obtain the greatest possible return on each marketing investment with strategic targeting, careful planning, and strong design.</p>
    </div>
  </div>
    <div class="mid">
      <img src="images/hrmg-2.png">
    </div>
    <div class="block inner centered">
        <h2>Our Design Meets Your Story</h2>
        <p>We create more than websites. We help tell your organization’s story through creative design and a thoroughly considered marketing strategy that attracts new customers. Explore our portfolio to learn more about what services we offer and how we take our clients from “we need a new website” to “our website brings us business.”</p>
        <div id="capabilities">
          <h5 class="top-block">Capabilities</h5>
          <ul class="flex">
            <li class="one-third">Strategy<br />
            Analytics<br />
            Branding<br />
            Photography & Video</li>
            <li class="one-third">Website Design<br />
            Content Marketing<br />
            Social Integration<br />
            Email Marketing</li>
            <li class="one-third">Graphic Design<br />
            Mobile App Development<br />
            Software Development<br />
            Data Management</li>
          </ul>
        </div>
        <div class="inner centered block">
          <p><a href="{{ site.url }}/services" class="button animsition-link">View Our Services</a></p>
        </div>
      </div>
  <div class="border">
  <div class="inner block">
    <h2>The Hi-Res Team</h2>
    <div class="staff">
      <div class="staff-item">
        <img src="images/jonathan-swindle.jpg" />
        <h6>Jonathan Swindle</h6>
        <p>President, CEO</p>
      </div>
      <div class="staff-item">
        <img src="images/molly-pierce.jpg">
        <h6>Molly Pierce</h6>
        <p>Graphic - Web Designer</p>
      </div>
      <div class="staff-item">
        <img src="images/avery-pfeiffer.jpg">
        <h6>Avery Pfeiffer*</h6>
        <p>Software Development</p>
      </div>
      <div class="staff-item">
        <img src="images/taylor.jpg">
        <h6>Taylor Smith*</h6>
        <p>Software Development</p>
      </div>
      <div class="staff-item">
        <img src="images/sammy-gutierrez.jpg">
        <h6>Sammy Gutierrez</h6>
        <p>Account Manager</p>
      </div>
      <h5 style="text-align: center;">*We are happy to work in conjunction with <a class="animsition-link" href="https://www.lionsoft.net/">Lionsoft Data Management & Software Engineers.</a></h5>
    </div>
  </div>
      </div>
  <div id="clients">
    <div class="inner block">
      <p style="margin-bottom: 0px;" class="top-block">We are proud to live and work in Corpus Christi, TX, and to have had the opportunity to work with some of the area's finest businesses, including:</p>
      <ul class="flex">
        <li><img src="images/client-1.jpg" /></li>
        <li><img src="images/client-2.jpg" /></li>
        <li><img src="images/client-3.jpg" /></li>
        <li><img src="images/client-4.jpg" /></li>
        <li><img src="images/client-5.jpg" /></li>
        <li><img src="images/client-6.jpg" /></li>
        <li><img src="images/client-7.jpg" /></li>
        <li><img src="images/client-8.jpg" /></li>
        <li><img src="images/client-9.jpg" /></li>
        <li><img src="images/client-10.jpg" /></li>
        <li><img src="images/client-11.jpg" /></li>
        <li><img src="images/client-12.jpg" /></li>
      </ul>
      <div class="inner centered block">
        <p><a href="{{ site.url }}/our-work" class="button animsition-link">View Our Work</a></p>
      </div>
    </div>
  </div>
<div class="border">
  <div class="testimonial">
    <p>“They were there from the beginning– guiding us through the entire process and educating us.”</p>
    <h6>Leslie, Bay Ltd.</h6>
  </div>
  <div class="inner block" id="instafeed"></div>
  <div class="hs-responsive-embed-youtube border">
<iframe width="560" height="315" src="https://www.youtube.com/embed/I0crz9keFH4?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>  </div>
</div>
  <div class="feature-box">
    <h4>Ready to learn more?</h4>
    <p>Get a quote for the perfect package with our Project Planner.</p>
    <div>
    <a class="button white" href="/project-planner">Project Planner</a>
  </div>
  </div>

<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '2207963245',
        clientId: '18ccc804be114f37b7680ce49010e91c',
        accessToken: '2207963245.1677ed0.c6c53c61c82b4ce78d2416d2e913d623',
        sortBy: 'most-liked',
        limit: '5',
        resolution: 'low_resolution'
    });
    userFeed.run();
</script>
