<!DOCTYPE html>
<html>

{% include head.html %}

<body id="js-body" class="home">
    <!-- {% include browser-upgrade.html %}
    <div id="page" class="animsition">
      {% include header.html %}
      <div class="container hero">
        <div class="full-width">
          <img class="" src="images/MPD-best-photo.jpg"></img>
        </div>
        <div class="flex flex-wrap">
          <script>
          $("#slideshow > div:gt(0)").hide();

          setInterval(function() {
            $('#slideshow > div:first')
              .fadeOut()
              .next()
              .fadeIn()
              .end()
              .appendTo('#slideshow');
          },  1000);
          </script>
          <div id="slideshow" class="one-half">
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-1.jpg"></a></div>
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-2.jpg"></a></div>
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-3.jpg"></a></div>
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-4.jpg"></a></div>
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-5.jpg"></a></div>
            <div><a  href="{{ site.url }}/work"><img src="/images/mpd-slider-6.jpg"></a></div>
          </div>
        <div class="one-half" class="feature">
          <div class="feature">
            <h2>Graphic Design</h2>
            <h4>Stationery, Booklets & Brochures, Promotional Materials, Events & Parties</h3>
              <h2>Website Design</h2>
              <h4>Blogs, Small Businesses, Events</h4>
              <h2>Branding & Identity</h2>
              <h4>Logo Design, Brand Design, Creative Direction</h4>
            <a class="button" href="{{ site.url }}/services.html">More About My Design Services</a>
          </div>
        </div>
      </div>
</div>
</div>
  {% include footer.html %}-->
  <p class="text-align: center;">Freshening up - back soon! <a href="mailto:mollympierce@gmail.com">Email me.</a></p>
  </body>
  {% include bottom-bar.html %}
  {% include animsition.html %}
</html>
