<!DOCTYPE html>
<html>

{% include head.html %}

<body id="js-body" class="home">
    {% include browser-upgrade.html %}
    <div id="page" class="animsition">
      {% include header.html %}
      <div class="container hero">
        <div class="title">
          <h1>I'm an independent graphic & web designer in Corpus Christi, Texas. <a class="home-text" href="{{ site.url }}/work">View my work,</a> or <a class="home-text" href="mailto:mollympierce@gmail.com">contact me</a> to brainstorm about what we can create for your business.</h1>
        </div>
      </div>
      <div class="container block">
        <div class="grid-bg">
          <h5 id="grid-bg-title">Recent Projects</h5>
          <div class="th-grid">
            {% include latest-portfolio-grid.html %}
          </div>
          <div id="right-button">
            <a class="button home-text" href="{{ site.url }}/work">View My Work</a><br />
          </div>
        </div>
      </div>
    </div>
  {% include footer.html %}
  </body>
  {% include bottom-bar.html %}
  {% include animsition.html %}
</html>
