<!DOCTYPE html>
<html>

{% include head.html %}

<body id="js-body" class="work">
    {% include browser-upgrade.html %}
    <div id="page" class="animsition">
      {% include header.html %}
			<div class="container hero">
        <div class="title">
          <h1>Portfolio</h1>
        </div>
      </div>
			<div class="container wrap">
				<div class="archive-wrap">
					<div class="page-content">
						<div class="portfolio-grid">
						{% for work in site.portfolio %}
						      {% include portfolio-grid.html %}
						{% endfor %}
						</div>
					</div><!-- /.page-content -->
				</div><!-- /.archive-wrap -->
			</div><!-- /.wrap -->
		</div>
		{% include footer.html %}
		{% include bottom-bar.html %}
		{% include animsition.html %}
		</body>
	</html>
