---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
			<div class="page-image">
				<img src="{{ site.url }}/{{ page.featured-image }}" alt="{{ page.title }}" />
			</div>
		<div>
			<div id="content" class="page-content" itemprop="articleBody">
			{{ content }}
			</div>
		<div class="PageNavigation">
			<a class="prev animsition-link" href="{{ site.url }}{{page.previous.url}}">{% if page.previous.url %}Previous: {{page.previous.title}}{% endif %}</a>
		 <a class="next animsition-link" href="{{ site.url }}{{page.next.url}}">{% if page.next.url %}Next: {{page.next.title}}{% endif %}</a>
		</div>
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
